
@font-face {
  font-family: 'Rustico-Regular';
  src: url('Rustico-Regular.eot?#iefix') format('embedded-opentype'),  url('Rustico-Regular.otf')  format('opentype'),
	     url('Rustico-Regular.woff') format('woff'), url('Rustico-Regular.ttf')  format('truetype'), url('Rustico-Regular.svg#Rustico-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
