@font-face {
    font-family: 'Rustico-Regular';
    src: url('../fonts/Rustico-Regular/Rustico-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rustico-Regular/Rustico-Regular.otf')  format('opentype'),
    url('../fonts/Rustico-Regular/Rustico-Regular.woff') format('woff'), url('../fonts/Rustico-Regular/Rustico-Regular.ttf')  format('truetype'), url('../fonts/Rustico-Regular/Rustico-Regular.svg#Rustico-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quicksand-Regular/Quicksand-Regular.woff') format('woff'), url('../fonts/Quicksand-Regular/Quicksand-Regular.ttf')  format('truetype'), url('../fonts/Quicksand-Regular/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quicksand-Bold/Quicksand-Bold.woff') format('woff'), url('../fonts/Quicksand-Bold/Quicksand-Bold.ttf')  format('truetype'), url('../fonts/Quicksand-Bold/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.logo {
    display: block;
    max-width: 100%;
    float: left;
    padding-left: 45px;
}

.logo span.logo_text {
    font-size: 28px;
    font-family: 'Quicksand-Bold', sans-serif;
    float: left;
    padding-left: 12px;
}

.logo span.logo_text small {
    font-size: 10px;
    display: block;
}

section.header {
    position: relative;
    height: 84px;
    padding: 5px 12px;
}

ul.top_nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.top_nav li {
    float: left;
    padding: 10px 20px;
    font-family: 'Quicksand-Regular', sans-serif;
}



ul.top_nav li a{
    color: #000000;
}

.header .nav_menu {
    display: block;
    float: right;
}

.logo img {
    height: 65px;
    float: left;
}

.slogan.large.art{
    font-family: 'Rustico-Regular', sans-serif;
    font-size: 38px;
    padding-top: 75px;
}

.slogan.normal p{
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 16px;
}

.slogan.large.art span{
    color: #FB8864;
}

.super_boy{
    background-image: url(../images/base@2x.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.super_boy img.boy_image{
    width: 65%;
    padding-left: 10%;
}


img.responsive{
    max-width: 100%;
}

.button.btn.round.blue {
    background-color: #FDE96C;
    border-radius: 25px;
    padding: 5px 40px;
    text-transform: uppercase;
    font-size: 14px;
}